<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wtf.omxclient"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="omxclient.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="omxclient.RemoteControl"
            android:label="Remote"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="omxclient.ChooseFile"
            android:label="ChooseFile"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="omxclient.SettingActivity"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="omxclient.AddToPlaylist"
            android:label="@string/title_activity_add_to_playlist" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name="omxclient.SocketService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
